<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <app-bot-message [text]="'Hi there, how can I help u? 🙂'"/>
      @for (message of messages(); track $index) {
        @if (message.isGpt) {
          <app-bot-message [text]="message.text"/>
        } @else {
          <app-user-message [text]="message.text"/>
        }
      }

      @if (isLoading()) {
        <app-typing-loader/>
      }
    </div>
  </div>
  <!-- Message Box -->

  <!--  <app-text-entry-->
  <!--    (onMessage)="handleTextEntry($event)"-->
  <!--    [placeholder]="'Input here your text-entry...'" />-->

  <!--  <app-text-file-entry-->
  <!--    (onMessage)="handleTextAndFileEntry($event)"-->
  <!--    [placeholder]="'Input here...'"/>-->

  <app-text-option-entry
    (onMessage)="handleTextAndSelectedOptEntry($event)"
    [options]="[{id: '1', text: 'Option 1'}, {id: '2', text: 'Option 2'}]"
    [placeholder]="'Input here...'"/>
</div>
