<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <app-bot-message [text]="'Hi what would you like to translate? 🙂'"/>
      @for (message of messages(); track message.text) {
        @if (message.isGpt) {
          <app-bot-message [text]="message.text"/>
        } @else {
          <app-user-message [text]="message.text"/>
        }
      }

      @if (isLoading()) {
        <app-typing-loader/>
      }
    </div>
  </div>
  <!-- Message Box -->
  <app-text-option-entry
    (onMessage)="handleTextAndSelectedOptEntry($event)"
    [options]="languages()"
    [placeholder]="'Input here...'"/>
</div>
